<form ng-submit="registerModal.save()" name="registerModalForm" angular-busy="registerModal.loading">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Kayıt ol</h3>
        <p>Sen de boykot başlat, mevcut boykotlara destek ver!</p>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label for="registerModal_name">İsim <dg-form-required-asterisk></dg-form-required-asterisk></label>
            <dg-form-text
                ng-model="registerModal.data.name"
                dg-id="registerModal_name"
                dg-name="registerModal_name"
                maxlength="200"
                disable-length="true"
                ng-required="true"
            ></dg-form-text>
        </div>
        <div class="form-group">
            <label for="registerModal_email">E-posta <dg-form-required-asterisk></dg-form-required-asterisk></label>
            <dg-form-text
                type="email"
                ng-model="registerModal.data.email"
                dg-id="registerModal_email"
                dg-name="registerModal_email"
                maxlength="200"
                disable-length="true"
                ng-required="true"
            ></dg-form-text>
        </div>
        <div class="form-group">
            <label for="registerModal_password">Parola <dg-form-required-asterisk></dg-form-required-asterisk></label>
            <dg-form-text
                type="password"
                ng-model="registerModal.data.password"
                dg-id="registerModal_password"
                dg-name="registerModal_password"
                maxlength="100"
                disable-length="true"
                ng-required="true"
            ></dg-form-text>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="registerModal.closeModal()">Kapat</button>
        <button class="btn btn-primary" type="submit">Kaydet</button>
    </div>
</form>
